<%= form_for @entry, data: { "turbo-frame": "entry-details", "controller": "entry-form" },
             html: { class: "flex flex-col" } do |form| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% @entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-2 sm:flex-row-reverse">
    <div id="hint" class="sm:w-3/5">
      提示:
      <div class="flex flex-col overflow-y-scroll hidden-scrollbar">
        <div class="text-sm ">
          <% unless @entry.narrator.nil? %>
            <div class="text-sm">
              叙述者: [<%= @entry.narrator.narrator_chinese %>]
            </div>
          <% end %>
          <% cache @nouns do %>
            <% @nouns.each do |noun| %>
              <div class="font-cn">
                <span class=""><%= noun[0] %></span> -> <span class=""><%= noun[1] %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        <turbo-frame id="entry_edit_hints" src="<%= entry_hints_path @entry %>"></turbo-frame>
      </div>
    </div>
    <div class="sm:w-2/5 flex flex-col gap-1">
      <%= form.label :chinese, "中文翻译" %>
      <div class="h-32">
        <%= form.text_area :chinese,
                           class: "w-full h-full rounded border-1 border-blue-400 hover:border-blue-400 dark:bg-gray-600 p-1 font-cn",
                           data: { action: "keydown->entry-form#keydown" },
                           disable: "#{current_user.nil? ? 'true' : 'false'}",
                           lang: "zh-Hans" %>
      </div>
      <% unless current_user.nil? %>
        <div id="entry_form_actions" class="">
          <%= form.label :status, "更改状态" %>
          <% status_list = current_user.admin? ? Entry.statuses.keys : Entry.statuses.keys[0..1] %>
          <%= form.select :status, status_list.collect { |status| [Entry.human_enum_name(:status, status), status] },
                          {}, { class: "ml-4 w-24 h-8 px-2 py-1 rounded-sm dark:bg-gray-500 text-sm" } %>
        </div>
        <div class="actions">
          <%= form.submit "更新条目", class: "rounded px-3 py-1 border-res bg-blue-300 shadow dark:bg-indigo-600",
                          submitId: "entry_#{ @entry.id }", data: { action: "editor#submit" } %>
        </div>
      <% end %>
    </div>
  </div>
  <% unless @entry.history_change.none? %>
    <div class="mt-2 flex flex-col text-sm">
      条目[<%= @entry.id %>] 最近更改
      <% @entry.history_change.each do |history| %>
        <div class="flex flex-row gap-x-3 gap-y-1">
          <div><%= history[2].in_time_zone("Asia/Shanghai").strftime('%Y-%m-%d %H:%M:%S (CST)') %></div>
          <div>[<%= history[0] || "匿名" %>]</div>
          <div><%= history[1]["message"] ? history[1]["message"] : history[1]["chinese"] %></div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
