<span id="project_file_<%= @project_file.id %>_progress" class="inline-flex flex-row justify-between gap-1 text-center text-sm">
  <% progress = @project_file.progress %>
  <span class="w-6"><%= progress[:empty] %></span>
  <span class="w-6"><%= progress[:draft] %></span>
  <span class="w-6"><%= progress[:proofreading] %></span>
  <span class="w-6"><%= progress[:finished] %></span>
</span>
