<span id="project_file_<%= @project_file.id %>_progress" class="inline-flex flex-row justify-between gap-1 text-center">
  <% progress = @project_file.progress %>
  <div class="w-8"><%= progress[:empty] %></div>
  <div class="w-8"><%= progress[:draft] %></div>
  <div class="w-8"><%= progress[:proofreading] %></div>
  <div class="w-8"><%= progress[:finished] %></div>
</span>
