<label for="<%= @modal_id %>" class="btn btn-sm modal-button"><%= @open_text %></label>
<input type="checkbox" id="<%= @modal_id %>" class="modal-toggle">
<label class="modal" for="<%= @modal_id %>">
  <label class="modal-box">
    <%= content %>
    <span class="modal-action justify-start sm:justify-end">
      <label for="<%= @modal_id %>" class="btn btn-sm md:btn-md">关闭</label>
    </span>
  </label>
</label>
