<div data-controller="search" data-reflex-root="#search_result">
  <div class="flex flex-row items-center gap-2">
    <input type="text" name="search" id="search" placeholder="Search"
           data-search-target="query" data-action="input->search#perform"
           class="input input-accent input-bordered w-auto" autocomplete="off">
    <div class="flex flex-row items-center gap-1 text-xs sm:text-sm">
      <span>DB模式</span>
      <input type="checkbox" name="search_db_mode" id="search_sql_mode" class="toggle toggle-sm sm:toggle-md"
             data-search-target="dbMode" data-action="search#perform">
    </div>
    <div class="flex flex-row items-center gap-1 text-xs sm:text-sm">
      <span>正则</span>
      <input type="checkbox" name="search_regex_mode" id="search_regex_mode" class="toggle toggle-sm sm:toggle-md"
             data-search-target="regexMode" data-action="search#perform">
    </div>
  </div>
  <div id="search_result" class="relative">
    <span data-search-target="activity" class="absolute transition hidden">
      <button class="btn btn-square loading"></button>
      搜索中...
    </span>
    <span data-search-target="count" class="mt-2 <%= "hidden" if @results&.count.to_i > 0 %>">
      <strong>无结果</strong>
    </span>
    <div data-search-target="list" class="mt-2 <%= "hidden" unless @results.present? %>">
      <% if @results.present? %>
        <% @results.each do |item| %>
          <%= link_to "#{url_for(item.project_file)}?entry=#{item.id}",
                      class: "my-1 p-1 border flex flex-col text-sm rounded",
                      "data-turbo-frame": "editor" do %>
            <span class="truncate"><%= item.source %></span>
            <span class="truncate"><%= item.chinese %></span>
            <span class="flex justify-between text-xs">
              <span><%= item.project_file.type %></span>
              <span><%= item.project_file.name %></span>
            </span>
          <% end %>
        <% end %>
        <div class="inline-flex row items-center gap-2">
          <% if @pagy[:prev] %>
            <button data-page="<%= @pagy[:prev] %>" data-action="search#nextPage" class="btn btn-outline btn-sm md:btn-md">
              上页
            </button>
          <% end %>
          <div class="inline-flex flex-row items-center">
            <input type="range" class="w-auto range mr-1" min="1" max="<%= @pagy[:last] %>" step="1" value="<%= @pagy[:page] %>" data-current="<%= @pagy[:page] %>" data-action="search#gotoPage">
            (<%= @pagy[:page] %>/<%= @pagy[:pages] %>)
          </div>
          <% if @pagy[:next] %>
            <button data-page="<%= @pagy[:next] %>" data-action="search#nextPage" class="btn btn-outline btn-sm md:btn-md">
              下页
            </button>
          <% end %>
          <%# if @db_mode %>
<!--            <span>(DB)</span>-->
          <%# end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
