<% content_for :title, @project_file.name %>

<div class="lg:flex" x-data="{ file_list: 'close' }">
  <%= turbo_stream_from "main-app" %>

  <button id="nav-switch" type="button" class="fixed z-50 bottom-3 right-4 w-10 h-10 rounded-full bg-gray-900 text-white block lg:hidden" @click="file_list = 'open'">
    <span class="sr-only">Open file list</span>
    <svg width="24" height="24" fill="none" class="absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-300 transform"
         :class="{ 'opacity-0 scale-80': file_list === 'open' }"
    >
      <path d="M4 8h16M4 16h16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <svg width="24" height="24" fill="none" class="absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-300 transform"
         :class="{ 'opacity-0 scale-80': file_list === 'close' }">
      <path d="M6 18L18 6M6 6l12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>

  <div id="sidebar"
       :class="{ 'hidden': file_list === 'close' }"
       class="fixed z-40 inset-0 flex-none h-full bg-black bg-opacity-25 w-full lg:bg-white lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-64 xl:w-72 lg:block transition duration-300 transform"
  >
    <turbo-frame id="file_list" src="<%= project_files_index_path(file_id: @file_id, frame: "editor", page: @project_file.page_num) %>" @click.away="file_list = 'close'"
                 class="font-sans flex flex-col bg-gray-100 px-2 py-1 lg:w-auto lg:shadow-md lg:mt-2 lg:ml-2 dark:bg-gray-800 lg:dark:mt-0 lg:dark:ml-0"
    >
    </turbo-frame>
  </div>

  <div id="content-wrapper" class="min-w-0 w-full flex-auto lg:static lg:max-h-full lg:overflow-visible"
       :class="{ 'overflow-hidden max-h-screen fixed': file_list === 'open' }">
    <turbo-frame id="editor" class="pt-2 flex flex-col flex-auto space-y-2" data-controller="editor">
      <% if current_user.nil? %>
        <%= render(LoginPromptComponent.new) %>
      <% end %>
      <div class="rounded-md shadow mx-2 px-4 py-2 bg-gray-100 dark:bg-gray-700 dark:text-gray-200 ">
        <%= render(partial: "entries/entry_list", locals: { entries: @entries }) %>
      </div>
      <turbo-frame id="entry-details"
                   class="flex flex-col rounded-md shadow p-2 mx-2 min-h-[5rem] bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                   src="<%= entry_path @entry %>"
      ></turbo-frame>
      <turbo-frame id="entry-edit"
                   class="flex flex-col rounded-md shadow p-2 mx-2 min-h-[11rem] bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                   src="<%= edit_entry_path @entry %>"
      ></turbo-frame>
      <% unless current_user.nil? %>
        <%= render(EntryBatchImportComponent.new(project_file: @project_file, current_user: current_user)) %>
      <% end %>
    </turbo-frame>
  </div>

</div>
