<!DOCTYPE html>
<html>
  <head>
    <title>Singinghill</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="w-screen h-screen bg-blue-300 flex flex-col">
    <header class="w-full h-10 bg-gray-200 ">
    </header>
    <main class="w-full h-5/6 flex flex-row flex-1">
      <%= yield %>
    </main>
  </body>
</html>
