<!DOCTYPE html>
<html>
  <head>
    <title>Singinghill</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="w-screen h-screen bg-blue-300 flex flex-col">
    <header class="w-full h-12 bg-gray-200 flex flex-row px-4 py-2 items-center justify-between">
      <div id="logo" class="w-6 h-6 rounded-full text-gray-700 font-bold">SingingHill</div>
      <div id="notice"><%= notice %></div>
      <div class="flex flex-row gap-x-3 items-center justify-center">
        <% if user_signed_in? %>
          <div class="">Hello, <%= current_user.nickname %></div>
          <%= link_to "退出", destroy_user_session_path, class: "w-14 h-8 px-1 py-1 rounded-lg shadow-lg bg-red-400 text-center tracking-wide", method: :delete %>
        <% else %>
          <%= link_to "登录", user_gitlab_omniauth_authorize_path, class: "w-14 h-8 px-1 py-1 rounded-lg shadow-lg bg-gray-300 text-center tracking-wide" %>
        <% end %>
      </div>
    </header>
    <main class="w-full h-5/6 flex flex-row flex-auto">
      <%= yield %>
    </main>
  </body>
</html>
